.search-box {
  border-radius: 50px;
  border: 1px solid #ddd;
  padding: 6px 15px;
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
}

.search-icon {
  color: #999;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.sub-text {
  font-size: 13px;
  color: #007bff;
  line-height: 1;
}



/* Add this to your CSS file */
header.sticky.animated-sticky {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.5s ease-in-out;
  transition: all 0.5s ease;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* navbar  */


.nav-link.custom-hover {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding-bottom: 0px;
  transition: color 0.3s ease;
}

.nav-link.custom-hover::after,
.navbar .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  background-color: #0d6efd;
  /* Bootstrap primary color */
  transition: transform 0.3s ease;
}

.nav-link.custom-hover:hover {
  color: #0d6efd !important;
}

.nav-link.custom-hover:hover::after,
.navbar .samir .active::after {
  transform: scaleX(1);
}

.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}




/* courses */



.course-card {
  padding: 15px 15px;
  background: #fff;
  color: #000;
  border-radius: 12px;
  overflow: hidden;
  width: 200px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.course-title {
  font-size: 15px;
  width: 100%;
}

.course-duration {
  font-size: 13px;
}

.badge {
  background-color: rgb(255, 63, 0);
}

.card-title {
  font-size: 19px;
}

.card {
  position: relative;
  /* width: 250px; */
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
  height: 170px;
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);

}

